.main {
  background-color:green;
  padding: 16px;
  height: calc(100vh - 64px);
  margin-top: 8px;
}

h1 {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .app {
    display: flex;
  }
  .main {
    margin-top: 0;
  }
}
